@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sedgwick+Ave&display=swap");
/* body {
  background-color: var(--background);
  font-family: "Times New Roman", serif;
  font-size: 16px;
} */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.row {
  display: flex;
}

.row-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
}

.row-up {
  height: 10%;
  background-color: #ffd139;
}

.row-bot {
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}


#element-container {
  display: flex;
  justify-content: right;
}


#canvas-wrapper {
  min-height: 100%;
  width: 100%;
 
}

.btn {
  margin-top: 30px;
  position: relative;
  width: auto;
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px grey;
  background: rgb(153, 147, 147);
  text-align: center;
  padding: 2px 6px 6px 6px;
  font-size: 24pt;
  margin: 12px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px rgb(95, 87, 87);
  -moz-box-shadow: 0px 6px 0px rgb(87, 77, 77);
  text-transform: uppercase;
  box-shadow: 0px 6px 0px rgb(85, 76, 76);
  cursor: pointer;

 
}

.btn:active {
  -webkit-box-shadow: 0px 2px 0px rgb(85, 76, 76);
  -moz-box-shadow: 0px 2px 0px rgb(85, 76, 76);
  box-shadow: 0px 5px 0px rgb(85, 76, 76);
  position: relative;
  top: 4px;
}

#sketch-predictions{
  display: inline-block;
  align-items: center;
  flex-direction: column;
}

#objectNameContainer {
  display: flex; /* Display the elements in a row */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Add space between elements */
}

#objectName {
  background-color: white;
  font-size: 25px; /* Set the font size for the heading */
  color: black; /* Set the color of the heading text */

  margin-left: 30px;
}

#seconds {
  background-color: white;
  font-weight: bold; /* Optional: Make the heading bold */
  font-size: 30px; /* Set the font size for the seconds */
  color: black; /* Set the color of the seconds text */
}

